<div>
	<section>
		<h2>Categor&iacute;as</h2>
		<ul>
			<li>Escritorio</li>
			<li>Port&aacute;tiles</li>
			<li>Partes</li>
		</ul>
	</section>
	<section>
		<h2>Informaci&oacute;n</h2>
		<ul>
			<li>Informaci&oacute;n Legal</li>
			<li>Env&iacute;os</li>
			<li>Acerca de</li>
		</ul>
	</section>
	<section>
		<h2>Contacto</h2>
		<ul>
			<li>
				<i class="fa fa-map-marker"></i>
				Calle 19 # 8 - XX
				Centro Comercial California
				Local 208
			</li>
			<li>
				<i class="fa fa-phone"></i>
				3208349556
			</li>
			<li>
				<i class="fa fa-envelope-o"></i>
				fmcomputadores@gmail.com
			</li>

		</ul>
	</section>
	<p class="copy-mention">
		Powered By. FM Computadores. Todos los derechos reservados. Colombia 2016
	</p>
</div>
