<div class="product-view">
	<div class="left-view" id="slider">
		<ul class="carousel">
			<li ng-repeat="img in product.imagenes" data-thumb="{{img}}" data-src="{{img}}">
				<img src="{{img}}">	
			</li>
		</ul>
	</div>
	<div class="right-view">
		<h2>{{product.nombre}}</h2>
		<p class="product-brand">
			<span>{{product.marca.nombre}}</span>
		</p>
		<p class="product-description">{{product.descripcion}}</p>
		<ul>
			<li ng-repeat="esp in product.especificaciones">
				{{esp}}
			</li>
		</ul>
		<p class="product-price">
			<strong>{{product.precio}}</strong>
		</p>
		<button id="addCart" class="add-cart">Agregar al carrito</button>
	</div>
</div>