<div class="slider">
	<div class="slider-one">
		<div>
			<h2>Computadores</h2>
			<h5>Los m&aacute;s recientes modelos</h5>
		</div>
		<img src="./img/laptops.png">
	</div>
	<div class="slider-two">
		<div>
			<h2>Servidores</h2>
			<h5>Grandes equipos acordes a las necesidades de su empresa</h5>
		</div>
		<img src="./img/servidores.png">
	</div>
	<div class="slider-three">
		<div>
			<h2>Tablets</h2>
			<h5>Diferentes dispositivos para su entretenimiento</h5>
		</div>
		<img src="./img/tablets.png">
	</div>
	<div class="slider-four">
		<div>
			<h2>Software</h2>
			<h5>Licencias y software a la medida</h5>
		</div>
		<img src="./img/software.png">
	</div>
</div>

<div id="map" class="map" my-map=""></div>

<div ng-include="'./templates/productos_partial.html'">
</div>